venv/
__pycache__/
*.pyc
.env
.env.*
!.env.example

dataset/secure/*.json
dataset/vulnerable/*.json

.vscode/
.idea/
*.log

node_modules/
frontend/dist/
frontend/build/

.DS_Store
Thumbs.db

lambda_test_pkg/
lambda_test.zip
trust-policy.json
